
<div class="container">   

<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="../assets/images/login.png" id="icon" class="logostyle" alt="User Icon" />
      </div>
  
      <!-- Login Form -->
      <form #LoginForm="ngForm" (ngSubmit)="login()">
      
        <input type="text" name="Username" [(ngModel)]="model.Username"  class="form-control" 
        placeholder="Enter Username" 
        [class.is-valid]="Login.controls.Username.valid"
        [class.is-invalid]="!Login.controls.Username.valid && Login.controls.Username.touched">    
        <div class="invalid-feedback">*Please Enter Username</div>
         <!-- <div class="alert alert-danger" *ngIf="userLogin.controls.uname.hasError('required') 
         && userLogin.controls.uname.touched">*Please Enter Username</div> -->

        <input type="password" name="Password" [(ngModel)]="model.Password" class="form-control"
        placeholder="Enter password"
        [class.is-valid]="Login.controls.Password.valid"
        [class.is-invalid]="!Login.controls.Password.valid && Login.controls.Password.valid.touched">        
        <div class="invalid-feedback">*Please Enter password</div>
        <!-- <div class="alert alert-danger" *ngIf="userLogin.controls.password.hasError('required') 
        && userLogin.controls.password.touched">*Please Enter password</div> -->
 
        <br>
        <button type="submit" class="btn btn-primary" >Submit</button>
        <br>

        <!-- <div>{{Login.value|json}}</div> [disabled]="!Login.valid" -->

      </form>
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
      </div>
  
    </div>
  </div>
</div>

