



  <!--==========================
  Header
  ============================-->
  <header id="header">

    <div id="topbar">
     
   

    <div class="container">

       <div  *ngIf="(userservice.currentUser$|async)==null" class="logo float-left">      
        <h3><a href="#" class="scrollto"><span>Employee Attendance System</span></a></h3>
        
      </div>      
       <div class="row"> 
      <div class="col-md-8">        
          
      <nav class="main-nav float-left d-none d-lg-block">
        <ul *ngIf="userservice.currentUser$ | async">          
          <li><a routerLink='/home' routerLinkActive='active'>Home</a></li>
          <li><a routerLink='/employeelist' routerLinkActive='active'>Employee List</a></li>
          <li><a routerLink='/addemployee'routerLinkActive='active'>Add Employee</a></li> 
          <li><a routerLink='#'>Attendance</a></li>        
        </ul>
      </nav><!-- .main-nav -->
    </div>
      <div class="col-md-4 float-right">
        <div class="dropdown" *ngIf="userservice.currentUser$ | async" dropdown>
          <a class="dropdown-toggle" dropdownToggle>Welcome {{user.Role}}</a>
            <div class="dropdown-menu mt-3" *dropdownMenu> 
              <a class="dropdown-item">Edit Profile</a>
              <div class="dropdown-divider"> </div>
              <a class="dropdown-item" (click)="Logout()" >Logout</a>
            </div> 
        </div>
      </div> 
    </div>
       

          <form *ngIf="(userservice.currentUser$|async)==null" class="form-inline mt-2 mt-md-0 float-right" #LoginForm="ngForm" (ngSubmit)="login()">

            <input type="text" required name="Username" [(ngModel)]="model.Username"  class="form-control ml-1 mb-30" 
        placeholder="Enter Username" >            
       

        <input type="password" required name="Password" [(ngModel)]="model.Password" class="form-control ml-1 mb-30"
        placeholder="Enter password">
       
        
        <button type="submit" class="btn btn-info my-2 my-sm-0 ml-1" >Login</button> 
        
       
        <div class="alert alert-danger">{{LoginForm.touched}}{{LoginForm.valid}}</div>

          </form>   
       
                                    
      


     
        </div>

        </div>

 
     

      
    
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro" class="clearfix">
    <div class="container d-flex h-100">
      <div class="row justify-content-center align-self-center">
        <div class="col-md-6 intro-info order-md-first order-last">
          <!-- <h2>Rapid Solutions<br>for Your <span>Business!</span></h2> -->
        
        </div> 
  
        <div class="col-md-6 intro-img order-md-last order-first">
          <!-- <img src="img/intro-img.svg" alt="" class="img-fluid"> -->
        </div>
      </div>

    </div>
  </section><!-- #intro -->

  <main id="main">
    <div *ngIf="(userservice.currentUser$|async)==null">
    <div class="container">  
      <div class="row">
        <div class="col-md-5 mt-6">
          <img src="../../assets/images/calender.jfif" alt="">
        </div>

        <div class="col-md-7">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          <p>Aut dolor id. Sint aliquam consequatur ex ex labore. Et quis qui dolor nulla dolores neque. Aspernatur consectetur omnis numquam quaerat. Sed fugiat nisi. Officiis veniam molestiae. Et vel ut quidem alias veritatis repudiandae ut fugit. Est ut eligendi aspernatur nulla voluptates veniam iusto vel quisquam. Fugit ut maxime incidunt accusantium totam repellendus eum error. Et repudiandae eum iste qui et ut ab alias.</p>
          
         
        </div>
     
    </div>
    </div>
  </div>

<div *ngIf="userservice.currentUser$|async">
  <router-outlet> </router-outlet>   
</div>
         
      
    
</main>






 



